<%= form_for @post, url: post_path(id: @post.id), method: :put do |f| %>

<div>
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>
  
<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>  
  

<div>
<%= f.submit "Create" %>
</div>

<% end %>