<%= form_for @post, url: posts_path, method: :post do |f| %>

<div>
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>
  
<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>  
  

<div>
    <%= f.submit "Create" %>
</div>

<% end %>